
.listItem li:hover
{
  border-bottom: 2px solid blueviolet !important;
}

.listItem li
{
  cursor: pointer !important;
}

.startedBtn:hover
{
  transform: scale(1.1);
}
.lightGrey
{
  background-color: #ededed;
}

